#holiday {
    background-color: red;
}

.day2 {
    
    border: 1px solid black;text-align: center; background-color:ghostwhite   
}

th {
     text-align: center
    
}

#day {
    background-color: black ; color: white;
}
