.header {
    text-align: center;
    background-color: rgb(6, 6, 7);
    color:white;
    
}
.section {
    text-align: center;
}

.link {
    color:slategray;
}

footer {
    text-align: center;
    color: darkgray;
}



.navigation {
    display: inline-block;
    vertical-align: top;
    margin:  0 10px;
   color: black;
    text-decoration: none;
    transition: color .2s linear;
    
}
.navigation:hover {
    color: red;
    

}

.button , button {
    text-decoration:none ;
    
    
    
}

body {
    background: url(https://gas-kvas.com/uploads/posts/2023-02/1675448439_gas-kvas-com-p-kartinki-fonovie-odnotonnie-s-risunkom-36.jpg);
}

